<app-nav-bar></app-nav-bar>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2>Create a New Post</h2>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="submitPost()" #postForm="ngForm">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="title">Title:</label>
                                    <input type="text" class="form-control" id="title" name="title"
                                        [(ngModel)]="newPost.title" required>
                                </div>

                                <div class="form-group">
                                    <label for="datePosted">Date Posted:</label>
                                    <input type="date" class="form-control" id="datePosted" name="datePosted"
                                        [(ngModel)]="newPost.datePosted" required>
                                </div>

                                <div class="form-group">
                                    <label for="deadline">Deadline:</label>
                                    <input type="date" class="form-control" id="deadline" name="deadline"
                                        [(ngModel)]="newPost.deadline" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="location">Location:</label>
                                    <input type="text" class="form-control" id="location" name="location"
                                        [(ngModel)]="newPost.location" required>
                                </div>

                                <div class="form-group">
                                    <label for="categName">Category Name:</label>
                                    <input type="text" class="form-control" id="categName" name="categName"
                                        [(ngModel)]="newPost.categName" required>
                                </div>
                                <div class="form-group">
                                    <label for="price">Price:</label>
                                    <input type="number" class="form-control" id="price" name="price"
                                        [(ngModel)]="newPost.price" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" id="description" name="description"
                                    [(ngModel)]="newPost.description" required></textarea>
                            </div>

                            <div class="form-group mt-3">
                                <label for="image">Image:</label>
                                <input type="file" accept="image/*" class="form-control form-control-sm" (change)="onFileSelected($event)">
                            </div>
                            <button type="submit" class="btn btn-success mt-2">Submit Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>