<app-nav-bar></app-nav-bar>
<section class="container">
  <h2>Client Requests</h2>
  <div *ngFor="let request of requests" class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">{{ request.title }}</h5>
        <p class="card-text"><strong>Date Posted: </strong>{{request.datePosted}}</p>
        <p class="card-text"><strong>DeadLine: </strong>{{request.deadline}}</p>
        <p class="card-text"><strong>Location:</strong> {{ request.location }}</p>
        <p class="card-text"><strong>Category:</strong> {{ request.categName }}</p>
        <p class="card-text">{{ request.description }}</p>
        <img *ngIf="request.image" [src]="request.image" class="card-img-top" alt="Request Image">
        <p class="card-text"><strong>Price:</strong> {{ request.price }}</p>
        <p><strong>Client:</strong> {{ request.clientFirstName + ' ' + request.clientLastName }}</p>
        <img *ngIf="request.clientImage" [src]="request.clientImage" class="card-img-top" alt="Client Image">
        <button class="btn btn-primary" (click)="applyForRequest(request.id, request.client_id)">Apply</button>
      </div>
  </div>
</section>
<router-outlet></router-outlet>