<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/client/home-page">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/client/new-post">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="client/my-posts">My Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/client/settings">Settings</a>
      </li>
    </ul>
  </nav>
  
  