<nav class="navbar navbar-expand-md d-flex justify-content-end">
  <button class="navbar-toggler rounded-circle mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="material-symbols-outlined">
      menu
      </span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
  <ul class="navbar-nav d-flex align-items-center gap-2">
    <li class="nav-item rounded-5 d-flex align-items-center " routerLinkActive="active">
      <span class="material-symbols-outlined">
				travel_explore
				</span>
      <a class="nav-link" routerLink="/freelancer/homePage">Explore</a>
    </li>
    <li class="nav-item rounded-5 d-flex align-items-center" routerLinkActive="active">
      <span class="material-symbols-outlined">
				add
				</span>
      <a class="nav-link" routerLink="/freelancer/new-post">New</a>
    </li>
    <li class="nav-item rounded-5 d-flex align-items-center" routerLinkActive="active">
      <span class="material-symbols-outlined">
        work
				</span>
      <a class="nav-link" routerLink="/freelancer/toDo">Jobs</a>
    </li>
    <li class="nav-item rounded-5 d-flex align-items-center" routerLinkActive="active">
      <span class="material-symbols-outlined">
				history
				</span>
      <a class="nav-link" routerLink="/freelancer/my-posts">My Posts</a>
    </li>
    <li class="nav-item rounded-5 d-flex align-items-center" routerLinkActive="active">
      <span class="material-symbols-outlined">
				sweep
				</span>
      <a class="nav-link" routerLink="/freelancer/operationRoom">Operation Room</a>
    </li>
    <li class="nav-item rounded-5 d-flex align-items-center" routerLinkActive="active">
      <span class="material-symbols-outlined">
				settings
				</span>
      <a class="nav-link" routerLink="/freelancer/settings">Settings</a>
    </li>
  </ul>
</div>
</nav>