<app-client-nav-bar></app-client-nav-bar>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    <h2>Waiting Acceptance From Freelancer: </h2>
                    <div *ngFor="let hiredPost of hiredPosts" class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-center">{{ hiredPost.title }}</h5>
                            <div class="d-flex justify-content-between mb-2">
                                <p class="card-text"><strong>Date posted: </strong>{{hiredPost.datePosted}}</p>
                                <p class="card-text"><strong>DeadLine: </strong>{{hiredPost.deadline}}</p>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text text-success">
                                            <strong>Location:</strong>{{hiredPost.location}}
                                        </p>
                                        <p class="card-text"><strong>Category:</strong> {{ hiredPost.categName }}</p>
                                    </div>
                                    <p class="card-text">{{ hiredPost.description }}</p>
                                </div>
                                <div class="col-6">
                                    <img [src]="hiredPost.imageUrl" class="postImage" alt="Request Image">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center mt-2 bg-light">
                                <p class="card-text"><strong>Price:</strong> {{ hiredPost.price }}</p>
                            </div>
                            <div class="d-flex flex-row justify-content-end align-items-center mt-2">
                                <p><strong>Freelancer:</strong> {{ hiredPost.freelancerFirstName + ' ' +
                                    hiredPost.freelancerLastName }}
                                </p>
                                <img [src]="hiredPost.freelancerImageUrl" class="freelancerProfileImage"
                                    alt="Freelancer Image">
                            </div>
                            <div *ngIf="hiredPost.status == 'Waiting for Acceptance from FreeLancer'"
                                class="d-flex flex-row justify-content-center align-items-center ">
                                <button class="btn btn-danger" (click)="cancelHire(hiredPost.id,hiredPost.post_id)">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>Waiting My Acceptance: </h2>
                    <div *ngFor="let appliedRequest of appliedRequests" class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-center">{{appliedRequest.title}}</h5>
                            <div class="d-flex justify-content-between mb-2">
                                <p class="card-text"><strong>Date posted: </strong>{{appliedRequest.datePosted}}</p>
                                <p class="card-text"><strong>DeadLine: </strong>{{appliedRequest.deadline}}</p>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-text"><strong>Location:</strong> {{ appliedRequest.location }}</p>
                                    <p class="card-text"><strong>Category:</strong> {{ appliedRequest.categ_name }}</p>
                                    <p class="card-text">{{ appliedRequest.description }}</p>
                                </div>
                                <div class="col-6">
                                    <img [src]="appliedRequest.imageUrl" class="requestImage" alt="Request Image">
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center align-items-center ">
                                <div class="d-flex justify-content-center align-items-center mt-2 alert bg-light">
                                    <p class="card-text"><strong>Price:</strong> {{ appliedRequest.price }}</p>
                                </div>
                                <div class="d-flex flex-row justify-content-end align-items-center mt-2">
                                    <p><strong>Freelancer:</strong> {{ appliedRequest.freelancerFirstName + ' ' +
                                        appliedRequest.freelancerLastName }}
                                    </p>
                                    <img [src]="appliedRequest.freelancerImageUrl" class="freelancerProfileImage"
                                        alt="Client Image">
                                </div>
                                <div *ngIf="appliedRequest.status === 'Waiting for Acceptance from Client'">
                                    <button class="btn btn-primary" style="margin-right: 10px;"
                                        (click)="acceptRequest(appliedRequest.id)">Accept</button>
                                    <button class="btn btn-danger"
                                        (click)="rejectRequest(appliedRequest.id)">Reject</button>
                                </div>
                                <div *ngIf="appliedRequest.status ==='Accepted'">
                                    <p class="text-success">Accepted</p>
                                    <p>wait until the freelancer finish this task</p>
                                </div>
                                <div *ngIf="appliedRequest.status === 'Rejected'">
                                    <p class="text-danger">Rejected</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>